*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}

.banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.slider{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}
#sliderimg{
   max-width: 100%;
    height: 100%;
}